@model IEnumerable<quyettien.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>BẢNG SẢN PHAM</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Create</a>
</p>
@*<table class="table">*@
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th>
               Mã sản phẩm 
            </th>
            <th>
                tên sản phẩm 
            </th>
            <th>
                giá bán 
            </th>
            <th>
               giá Gốc 
            </th>
            <th>
               giá góp 
            </th>
            <th>
               số lương tồn 
            </th>
            <th>
                tên loại
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }

    </table>
